n8n_workflows/outlook_to_notion.json
{
  "name": "Outlook to Notion Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "name": "Schedule Every 30 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "resource": "task",
        "returnAll": true,
        "filters": {
          "status": "notStarted"
        }
      },
      "name": "Microsoft Outlook",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "YOUR_OUTLOOK_CREDENTIAL",
          "name": "Outlook Personal"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  let title = item.json.subject || item.json.title || 'No Subject';\n  return {\n    json: {\n      ...item.json,\n      parsed_title: title,\n      cross_id: item.json.id\n    }\n  };\n});"
      },
      "name": "Transform Variables (Code)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "YOUR_DB_MASTER_TASKS_ID",
          "mode": "id"
        },
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Source ID",
              "condition": "equals",
              "type": "rich_text",
              "richTextValue": "={{ $json.cross_id }}"
            }
          ]
        }
      },
      "name": "Check if Exists in Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        850,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CREDENTIAL",
          "name": "Notion NOs"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ec01c775-690a-4da5-b9e3-241ab7e3a9dc",
              "leftValue": "={{ $json.results.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "If Not Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "YOUR_DB_MASTER_TASKS_ID",
          "mode": "id"
        },
        "title": "={{ $('Transform Variables (Code)').item.json.parsed_title }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Source ID",
              "type": "rich_text",
              "richTextValue": "={{ $('Transform Variables (Code)').item.json.cross_id }}"
            },
            {
              "key": "Status",
              "type": "select",
              "selectValue": "Not started"
            },
            {
              "key": "Source",
              "type": "select",
              "selectValue": "Outlook"
            }
          ]
        }
      },
      "name": "Create in Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        1250,
        280
      ],
      "credentials": {
        "notionApi": {
          "id": "YOUR_NOTION_CREDENTIAL",
          "name": "Notion NOs"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Every 30 min": {
      "main": [
        [
          {
            "node": "Microsoft Outlook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Outlook": {
      "main": [
        [
          {
            "node": "Transform Variables (Code)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Variables (Code)": {
      "main": [
        [
          {
            "node": "Check if Exists in Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Exists in Notion": {
      "main": [
        [
          {
            "node": "If Not Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Exists": {
      "main": [
        [
          {
            "node": "Create in Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
